* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    background: #f5f5f5;
}

a {
    color: #000000;
    text-decoration: none;
}

nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2839cc;
}

.logo{
    width: 90px;
    margin-left: 20px;
}
.bar-btn {
    width: 30%;
    font-size: 25px;
    color: #fff;
    margin-right: 20px;
    margin: 0.5em;
    cursor: pointer;
}

.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top:100px;
    background: rgba(0,0,0,.95);
    text-align:center;
    transition: all .4s;
}

.nav-menu li {
    display: none;
    line-height: 30px;
    transition: all .4s;
    margin: 50px 0;
}

.nav-menu li a{
    padding: 10px;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    transition: .4s;
}

nav ul li a:hover {
    background: #e6e6e6;
    color: #66a1ba;
    padding: 10px 20px;
}



#check {
    display: none;
}
#check:checked ~ .nav-menu {
    height:100vh
}
#check:checked ~ .nav-menu li {
    display: block;
}



@media screen and (min-width: 768px) {
    .logo{
        width: 90px;
        margin-right: 1250px;
        top: 10px;
    }

    nav {
        height: 100px;
        flex-direction: column;
        
        position: relative;
    }

    .bar-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }
    .nav-menu {
        position: fixed;
        width: 100%;
        height: 100px;
        top: 5px;
        background: none;
        text-align: right;
        transition: .4s;
        margin-right: 150px;
        
        
    }

    .nav-menu li {
        display: inline-block;
        line-height: 100px;
        margin: 0 20px;
        transition: all .4s;
    }

    .nav-menu li a {

        font-size: 13px;
    }
}

@media screen and (max-width: 768px) {
    .logo{
        width: 90px;
        margin-right: 20px;
        top: 10px;
    }

    nav {
        height: 100px;
        flex-direction: column;
        position: relative;
    }

    .bar-btn {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
    }
    .nav-menu {
        position: fixed;
        width: 100%;
        height: 0vh;
        top:100px;
        background: rgba(0,0,0,.95);
        text-align:center;
        transition: all .4s;
    }

    .nav-menu li {
        display: none;
        line-height: 30px;
        transition: all .4s;
        margin: 50px 0;
    }

    .nav-menu li a{
        padding: 10px;
        color: #fff;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        transition: .4s;
    }
}

header {
    width: 100%;
    height: 100%;
    background-color: #212529;
    color: #fff;
    padding: 0.5rem 1rem;
    text-align: center;
}
footer {
    background-color: #212529;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.pie__icon--sm {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
}